FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSf_d1RBXPkxtoCzCfGWKnnbnlAk2ILn2Mgis7eYn3Kh6XBlzQ/viewform
CHROME_PROFILE_PATH=/home/sabbir/.config/google-chrome
CHROME_PROFILE_NUMBER=2
MAX_RETRIES=3
MIN_DELAY=2
MAX_DELAY=5
HEADLESS_MODE=False
